

.header {
    padding-top: 30px;
}

.list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}




.button {
    top:50%;
    background-color:#2c974b;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:12px;
    min-height:20px; 
    min-width: 85px;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
    cursor: pointer;
  background-color: #3fa35b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}


.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}






